name: openpgp
description: library for use OpenPGP with support for android and ios, macOS, linux, windows and web
version: 3.10.6
homepage: https://github.com/jerson/flutter-openpgp

environment:
  sdk: ^3.5.4
  flutter: ">=1.17.0"

false_secrets:
 - /example/lib/*.dart

dependencies:
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  ffi: ^2.1.3
  flat_buffers: ^23.5.26
  path: ^1.9.0
  web: ">=0.5.0 <2.0.0"
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: dev.jerson.openpgp
        pluginClass: OpenpgpPlugin
      ios:
        pluginClass: OpenpgpPlugin
      web:
        pluginClass: OpenpgpPlugin
        fileName: web/openpgp_web.dart
      linux:
        pluginClass: OpenpgpPlugin
      macos:
        pluginClass: OpenpgpPlugin
      windows:
        pluginClass: OpenpgpPlugin
